<div id="msg-container">
</div>
<header class="primary-header">
    <nav class="primary-navigation flex-row-sa">
        <a href="/">
            <img src="/assets/logo.svg" alt="logo" class="nav__logo icon-bg">
        </a>
        <ul class="nav__list flex-row-center gap-sm-2 text-regular" aria-expanded="false">
            <li><a href="/">Home</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/write">Write</a></li>
        </ul>
        <img src="/assets/list.svg" alt="" class="icon-sm-2 mobile-nav-toggle" id="mobile-nav-toggle">
    </nav>
    <hr class="seperator">
</header>