.primary-header {
    position: sticky;
    top: 0;
    background-color: var(--clr-primary-light);
    z-index: 10;
}

.primary-navigation {
    height: 70px;
    padding-block: 10px;
}

.pop-up-msg {
    color: var(--clr-primary-light);
    background-color: var(--clr-primary-dark);
    position: fixed;
    right: 15px;
    top: 70px;
    padding: 1rem 2rem;
    border-radius: 100vmax 0 100vmax 100vmax;
    max-width: 70vw;
}

.pop-up-msg::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 20px;
    background-color: var(--clr-primary-dark);
    top: 0;
    right: -15px;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    ;
}