<main class="flex-row-left">
    <div class="toggle-btn" id="toggle">
        <img src="/assets/search.svg" alt="" class="icon-sm-2">
    </div>
    <div class="col col-1 flex-col-up gap-md" aria-expanded="false">
        <div class="search-outer flex-row-center">
            <input type="text" name="" id="search" placeholder="Search here">
            <button id="search-btn"><img src="/assets/search.svg" alt="" class="icon-sm"></button>
        </div>
        <div class="catg-outer flex-row-center">
            <ul class="catg">
                <li>Food</li>
                <hr class="seperator">
                <li>Programming</li>
                <hr class="seperator">
                <li>Learning</li>
                <hr class="seperator">
                <li>Education</li>
                <hr class="seperator">
                <li>Casual</li>
            </ul>
        </div>
    </div>
    <div class="flex-col-up content-wrapper-outer">
        <div class="content-wrapper flex-row-center gap-md" id="blogs">
            <!-- The content will be right here -->
        </div>
        <div class="load-outer flex-row-center font-sm-2">
            <button id="load-more" class="btn-primary">Load more </button>
        </div>
    </div>
</main>