<main class="flex-col-up gap-bg">
    <div class="view-window flex-col-up gap-sm-2">
        <h1 class="text-imp font-bg" id="blog-title">
            AI is gonna takeover the world...
        </h1>
        <hr class="seperator">
        <img src="https://source.unsplash.com/random/" alt="" id="main-image">
        <div id="blog-container" class="exception blog-content"></div>
    </div>
</main>