<main>

    <div id="blogs" class="gap-md">
        <!-- ! the subtitle should not go above 100 characters -->



        <div class="blog-card blog-card-flat blog-card-bg flex-row-left gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>




        <div class="blog-card blog-card-sqr blog-card-bg flex-col-up gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>

        <div class="blog-card blog-card-flat blog-card-bg flex-row-left gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>


        <div class="blog-card blog-card-sqr blog-card-bg flex-col-up gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>




        <div class="blog-card blog-card-flat blog-card-bg flex-row-left gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>


        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a
                        little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet
                        consectetur
                        adipisicing
                        lore
                        elit ...
                    </span>
                </div>
            </a>

        </div>

        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a
                        little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet
                        consectetur
                        adipisicing
                        lore
                        elit ...
                    </span>
                </div>
            </a>

        </div>
        <div class="blog-card blog-card-flat blog-card-bg flex-row-left gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>
        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a
                        little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet
                        consectetur
                        adipisicing
                        lore
                        elit ...
                    </span>
                </div>
            </a>

        </div>


        <div class="blog-card blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>


        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a
                        little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet
                        consectetur
                        adipisicing
                        lore
                        elit ...
                    </span>
                </div>
            </a>

        </div>


        <div class="blog-card blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>

        <div class="blog-card blog-card-sqr blog-card-bg flex-col-up gap-sm">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>
        <div class="blog-card blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <img src="/assets/arrow-up-right-circle-fill.svg" alt=""
                    class="blog-card__link-navigator filter-inv icon-bg">
                <img src="/assets/thumbnail.jpg" alt="thumbnail" class="blog-card__thumbnail">
            </a>
            <div class="blog-card__text flex-col-up gap-sm">
                <em class="font-sm text-regular ">Artificial inteligence</em>
                <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                </h3>
                <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                    adipisicing
                    lore
                    elit ...
                </span>
            </div>
        </div>


        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                        adipisicing
                        lore
                        elit ...
                    </span>
                </div>
            </a>

        </div>


        <div class="blog-card blog-card-text-only blog-card-md flex-col-up gap-md">
            <a href="#" class="blog-card__thumbnail-outer">
                <div class="blog-card__text flex-col-up gap-sm">
                    <em class="font-sm text-regular ">Artificial inteligence</em>
                    <h3 class="blog-card__title text-imp font-md"> AI Doesn't Understand Much - But maybe a little
                    </h3>
                    <span class="blog-card__subtitle text-regular font-sm-2">Lorem ipsum dolor, sit amet consectetur
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. V
                        elit
                    </span>
                </div>
            </a>

        </div>





    </div>
    <button class="font-sm-2 btn-primary" id="load-btn">Load more</button>

</main>