<main class="flex-col-center gap-bg">
    <h1 class="font-bg main-animation-outer flex-row-center">
        Any
        <span class="text-imp main-animation">System admin</span>
        can make blogs
    </h1>
    <div class="flex-row-center gap-md font-md">
        <a href="/blogs" class="btn-primary">Start reading</a>
        <a href="/write" class="btn-primary">Start Writing</a>
    </div>
</main>