<main class="flex-col-center gap-bg">
    <form class="form-outer flex-col-center gap-bg">
        <div class="flex-col-center gap-bg" id="first-form" preview-mode="false">
            <div class="first-form__preview-container exception" id="preview-container"></div>
            <input type="text" name="title" id="title" placeholder="Title" class="font-bg" required>
            <textarea id="content" class="font-md" placeholder="Tell your story..." required></textarea>
            <img src="/assets/preview.svg" alt="toggle-preview" class="first-form__preview-toggle-btn"
                id="preview-toggle-btn">
        </div>
        <div class="flex-col-up gap-bg final-form-outer vanish" id="second-form">
            <div class="final-form flex-col-up gap-md font-sm-2">
                <div class="keyword-form flex-col-up gap-sm-2">
                    <label for="keywords">Add Topics</label>
                    <input type="text" id="keywords" placeholder="Maximum 5 (comma seperated)" required>
                </div>


                <div class="keyword-form flex-col-up gap-sm-2">
                    <label for="brief">Add brief</label>
                    <input type="text" id="brief" placeholder="Add a line to summerize your blog post"
                        class="text-regular" required>
                </div>


                <div class="thumbnail-form flex-col-up gap-sm-2">
                    <input type="text" id="thumbnail" placeholder="Add Thumbnail link (*optional)" class="text-regular">
                </div>
            </div>
        </div>
        <div class=" flex-row-sb btn-container">
            <button class="reset-btn" id="resetBtn" type="reset">
                <img src="/assets/arrow-repeat.svg" alt="reset" class="icon-md-2">
            </button>
            <input type="button" value="Next" id="submitBtn" class="next-btn">
        </div>
    </form>

</main>
<!-- ik it's not a god idea to put script directly here, but i will fix it -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js"
    integrity="sha512-LhccdVNGe2QMEfI3x4DVV3ckMRe36TfydKss6mJpdHjNFiV07dFpS2xzeZedptKZrwxfICJpez09iNioiSZ3hA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>