main {
    min-height: calc(100vh - 70px);
    position: relative;
    padding-inline: min(15%, 5vw);
}

main::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('../assets/Home-bg.jpg');
    background-position: center;
    background-size: cover;
    z-index: -1;
    opacity: .2;
}

.btn-primary {
    padding-block: 5px;
    position: relative;
}

.btn-primary::after {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-secondary-dark);
    transition: width .7s;
}

.btn-primary:hover::after {
    width: 100%;
}

.main-animation-outer {
    flex-wrap: wrap;
    color: var(--clr-primary-dark);
}

.main-animation {
    display: inline-block;
    height: calc(3rem + 10px);
    margin-inline: 1rem;
    /* width: 0; */
    overflow-x: hidden;
    max-width: fit-content;
    translate: 0 -0100%;
    opacity: 0;
    flex-grow: 1;
    transition: translate 1s, opacity 1s, flex-grow 1s;
    color: var(--clr-primary-grn);
}


.expand-width-animation {
    /* width: 100%; */
    translate: 0 0;
    opacity: 1;
    flex-grow: 0.001;
}

@keyframes expand-width {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}