body {
    overflow-y: hidden;
}

main {
    align-items: start !important;
    height: calc(100vh - 70px);
    justify-content: start !important;
    position: relative;
    overflow: hidden;
}

.col {
    width: fit-content;
    height: 100%;
    background-color: var(--clr-primary-dark);
    outline: 2px solid var(--clr-primary-dark);
    min-width: 200px;
    padding: 2rem;
}

.col-1 {
    justify-content: start;
    width: 400px;
    max-width: 80vw;
    position: sticky;
    top: 0;
    left: 0;
    flex-shrink: 0;
}

.search-outer {
    --search-background: var(--clr-primary-light);
    border-radius: 100vmax;
    overflow: hidden;
    height: 50px;
    outline: 2px solid var(--clr-secondary-dark);
    width: 328px;
}

#search {
    height: 100%;
    background-color: var(--search-background);
    width: 100%;
    padding: .5rem 2rem;
}

#search-btn {
    padding: .5rem 1rem;
    background-color: var(--search-background);
    cursor: pointer;
    height: 100%;
}

#search-btn>img {
    background-color: var(--search-background);
}

.catg-outer {
    --background: var(--clr-primary-light);
    width: 328px;
    background-color: var(--background);
    text-align: center;
    border-radius: 15px;
    outline: 2px solid var(--clr-secondary-dark);
}

.catg {
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--background);
    border-radius: inherit;
}

.catg li {
    cursor: pointer;
}

.catg>* {
    margin-block: 1rem;
}

.card {
    width: 400px;
    align-items: start;
    max-width: 80vw;
    outline: 2px solid var(--clr-secondary-dark);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

.card .txt {
    padding: 1rem 1rem 2rem 1rem;
    align-items: start;
}

.card .thumbnail-outer {
    width: 100%;
    position: relative;
}

.card .thumbnail-outer .navigator {
    position: absolute;
    /* outline: 2px solid red; */
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    transition: opacity .5s;
    z-index: 2;
}

.card:hover .thumbnail-outer .navigator {
    opacity: 1;
}

.card:hover .thumbnail-outer .thumbnail {
    filter: blur(1rem);
}

.card .thumbnail {
    width: 100%;
    aspect-ratio: 10/6;
    background-color: var(--clr-primary-dark);
    transition: filter .5s;
    object-fit: cover;
}

.content-wrapper-outer {
    align-items: start;
    justify-content: start;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    width: 100%;
}

.content-wrapper {
    padding: 2rem;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    width: 100%;
}

.load-outer {
    width: 100%;
}

.load-outer * {
    /* width: 100%; */
    padding: 1rem 2rem;
    outline: 2px solid var(--clr-primary-dark);
}

.toggle-btn {
    position: fixed;
    bottom: 2.2rem;
    left: 2.2rem;
    outline: 2px solid var(--clr-primary-light);
    z-index: 4;
    background-color: var(--clr-primary-dark);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.toggle-btn img {
    filter: invert();
}

@media screen and (max-width:1300px) {
    .toggle-btn {
        display: unset;
    }

    .col-1 {
        position: absolute;
        /* translate: -90% 90%; */
        height: 80%;
        z-index: 3;
        border-radius: 15px;
        /* inset: auto 2rem 2rem 2rem; */
        left: 2rem;
        bottom: 2rem;
        top: auto;
        transition: inset .5s;
        /* padding: 1rem; */
    }

    .col-1 *,
    .search-outer * {
        max-width: 70vw;
    }

    .col-1[aria-expanded="false"] {
        left: -100%;
    }

    .content-wrapper {
        justify-content: center;
    }
}

@media screen and (max-width:500px) {

    .col-1,
    .col-1 * {
        /* max-width: 90vw; */
        left: 1rem;
        bottom: 1rem;
    }

    .col-1 {
        width: 90vw;
        max-width: none;
        height: 80vh;
        max-height: 800px;
    }

    .search-outer>* {
        /* padding: 0 !important; */
        width: auto;
    }
}

.btn-primary {
    padding: 1rem 2rem;
    border-radius: 100vmax;
    background-color: var(--clr-primary-dark);
    color: var(--clr-primary-light);
    margin: 5rem auto;
    display: block;
    cursor: pointer;
}