@media screen and (max-width: 500px) {
    .nav__list {
        position: absolute;
        flex-direction: column;
        height: 300px;
        top: 70px;
        background-color: var(--clr-primary-light);
        z-index: -1;
        width: 100%;
        /* top: calc(-70 * 5px); */
        top: calc(-70 * 5px);
        transition: top 1s;
    }

    .nav__list[aria-expanded=true] {
        top: calc(70 * 1px);
    }

    .mobile-nav-toggle {
        display: unset;
        position: fixed;
        top: 1.5rem;
        right: 1rem;
    }
}