@media screen and (max-width:600px) {
    .font-bg {
        font-size: 2rem;
    }

    .font-md {
        font-size: 1.2rem;
    }

    .exception {
        font-size: .88em;
    }

    #blog-title {
        font-size: 2rem;
    }
}